body{
  background-image: url(https://klike.net/uploads/posts/2019-11/1574605225_22.jpg);
  background-attachment: fixed;
  background-color: white;
  margin:0;
  }
  nav a{
    font-weight: bold;
    font-size: 150%;
     margin: 23px;
  }
  a{
  
    text-decoration: none;
    color: #000000;
  }
  a:hover{
    color: #18c02e;
  }
  header{
  background: radial-gradient(at top, #a0a5a5, #49649e);
  height:150px;

  }
  
  .banner{
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
  }
  
  nav{text-align:center;}

  .containerr{   

    max-width: 100%;
    margin: 0 auto;
    display: flex;
  flex-direction: column;
  flex: 1 1 1 auto;
  }
  
  #logo{
    float:left;
      width:100px;
       height:100px;
  }
  nav{
  
  background:linear-gradient(45deg, #eecfba, #c5dde8)
 
  }
  .notwork{
   padding-right: 100px;
  }
  
  .spisok{
    order: 1;
    padding-bottom: 10px;
  background:linear-gradient(45deg, #eecfba, #c5dde8)
  }
  #kol1{
      background-color:brown;
  }
  .nechet
  {
    background-color:rgb(95, 112, 95);
  }
  .chet{
    background-color:rgb(78, 35, 35);
  
  }
  .kalculator
  {
max-width: 100%;
margin: auto;

  }
  .tabl{
    order: 2;
  background:linear-gradient(45deg, #eecfba, #c5dde8)
  }
  table{
     background-color:rgb(77, 75, 94);
      margin: 0 auto;
       margin-top:20px;
        padding:10px;
  }
  .forma{
    order: 3;
    padding-bottom: 10px;
  background:linear-gradient(45deg, #eecfba, #c5dde8)
  }
  footer{
    width:100%;
    height: 50px;
    background:linear-gradient(45deg, #5ea4b9, #037a56)
  }
  .mymagicoverbox_fenetre{
    left:-225px;
    width:450px;
}

#box_1{
    margin: 0, auto;
}

.mymagicoverbox {
    
    color: #000000;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    font-weight: 300;
    font-family: Verdana, sans-serif;
    background-color:#00000000;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.mymagicoverbox_fenetre {
    z-index: 9999;
    position: fixed;
    margin-left: 50%;
    top: 100px;
    text-align: center;
    display: none;
    padding: 5px;
    background-color: #ffffff;
    color: #1f1b1b;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-family: Verdana, sans-serif;
}

.mymagicoverbox_fenetreinterieur {
    text-align: center;
    overflow: auto;
    padding: 10px;
    background-color: #ffffff;
    color: #666666;
    font-weight: 400;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    border-top: 1px solid #e7e7e7;
    margin-top: 10px
}

.mymagicoverbox_fermer {
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    font-family: Verdana, sans-serif;
    width:100px
}

#myfond_gris {
    display: none;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.ajaxForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
}

h1 {
    margin: 0;
    padding: 30px;
}

.fond {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sendButon {
    padding-top: 5px;
    padding-bottom: 5px;
}
  @media screen and (min-width: 992px) {
.containerr{
max-width: 80%;  
}
nav{
text-align:left;
flex-direction: column;
}

.tabl{
order: 3;

}
.forma{
order: 2;

}
.kalculator
{
max-width: 80%;
background:linear-gradient(45deg, #eecfba, #c5dde8)
}
}
